@import url('https://cdn-uicons.flaticon.com/2.4.2/uicons-brands/css/uicons-brands.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-gradient: linear-gradient(to right, #1dcdcd, #0ba1ce);
  --secondary-gradient: linear-gradient(to right, #6566f1, #a756f7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;  
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: auto;
  margin: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.dividing-line {
  height: 1px;
  width: 20px;
  background-color: currentColor;
  margin: 0 10px;
}

.nav-link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 3px;
  background: var(--primary-gradient);
  transition: width 300ms ease, left 300ms ease;
}

.nav-link:hover::before {
  width: 100%;
  left: 0;
}

.nav-selected {
  background-image: var(--primary-gradient);
  font-weight: bold;
  background-clip: text;
  color: transparent;
  background-size: 100% 2px;
}

.nav-hover {

}
